name: Upload binaries to release

on:
  release:
    types:
      - created
      - published
      - edited

  workflow_dispatch:
    inputs:
      release:
        description: 'release ID for uploading binaries'
        required: false

jobs:
  once:
    name: Upload license
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/github-script@v3
      with:
        script: |
          const script = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/upload.js`)
          console.log(script({github, context}))
